[Desktop Entry]
Version=1.0
Type=Application
Name=Bubbly Flows Labeling
Comment=Launch X-AnyLabeling
Path=/oscar/data/dharri15/eaguerov/Github/Bubble-tracking
Exec=/bin/bash ./launch_labeling.sh
Icon=utilities-terminal
Terminal=true
Categories=Science;Development;
