[Desktop Entry]
Version=1.0
Type=Application
Name=X-AnyLabeling (GPU)
Comment=Launch Auto-Labeling with GPU Support
# UPDATE THIS PATH to point to where you saved the .sh file above
Exec=/bin/bash -c "xanylabel.sh; bash"
Icon=utilities-terminal
Terminal=true
Categories=Science;ArtificialIntelligence;
